.contact-section {
  background-color: #ffffff;
  display: flex;
  justify-content: center;  /* 가운데 정렬 */
  align-items: center;      /* 수직 가운데 정렬 */
  padding: 3rem;
  gap: 50rem;                /* 두 아이템 사이 여백 */
  margin-top: 17%;
}

/* 불필요한 margin 모두 제거 */
.contact-info,
.contact-mail {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
}

/* 가로 링크 스타일 */
.contact-section a {
  font-size: 1.2rem;
  font-weight: 300;

}

.contact-section a:hover {
  text-decoration: underline;
}

hr {
  margin: 1.5rem 0;
}
.contact-info p a,
.contact-mail p a {
  margin-left: 9rem; /* 필요에 따라 값 조절 */
}