.contact-section {
    padding: 2rem;
    background-color: #ffffff;
    text-align:left;
  }
  .contact-info {
    font-size: 1.2rem;
    margin: 0.5rem 0;

    margin-bottom: 50px;
  }
  
  hr {
    margin: 1.5rem 0;
    border: 2px solid #000000;
  }
    .contact-mail {
        font-size: 1.2rem;
    }

    .contact-section a {
  color: #213940;      /* 메인 색상에 맞춰 변경 */
  text-decoration: none;
}

.contact-section a:hover {
  text-decoration: underline;
}