/* 공통 */
.header {
  width: 100%;
  background: #ffffff;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.3rem;
  font-weight: 200;
  margin: 0px 0 0 0px;
}

.logo {
  margin-top: 13px;
  margin-left: 30px;
  font-size: 1.5rem;
  min-width: 150px;
  white-space: nowrap;
  font-family: "Helvetica Neue", sans-serif;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 5px 0px 0 0;
  margin-right: 30px;
}

.nav-list li a {
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
}

.nav-list li a:hover {
  opacity: 0.7;
}

.nav-list li a.active-nav-link {
  display: inline-block;
  margin-top: 10px;
}

.menu-toggle-button {
  display: none;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Helvetica Neue", sans-serif;
  color: #000000;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: content-box;
  position: absolute;
  top: 30px;
  right: 10px;
  z-index: 100;
}

.menu-close-button {
  display: none;
}

/* 모바일 전용 */
@media (max-width: 500px) {
  .header,
  .nav-container {
    overflow: visible !important;
    min-width: unset !important;
  }

  .logo {
    margin-top: 20px;
    margin-left: 20px;
  }

  .menu-toggle-button {
    display: block !important;
    top: 22px;
    right: 20px;
  }

  .nav-list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 30px;
    gap: 1.5rem;
    z-index: 9999;
    box-shadow: none;
    white-space: nowrap;
    user-select: none;
  }

  .nav-list.active {
    display: flex !important;
  }

  .nav-list li a {
    font-size: 1.8rem;
    font-weight: 200;
    font-family: "Helvetica Neue", sans-serif;
    color: #000000;
    text-decoration: none;
  }

  .nav-list li a:hover,
  .nav-list li a.active-nav-link {
    opacity: 0.7;
    margin-top: 0;
  }

  .menu-close-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 2rem;
    font-weight: 200;
    cursor: pointer;
    color: #000000;
    font-family: "Helvetica Neue", sans-serif;
    z-index: 10000;
  }
}
