body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* 스크롤 방지 */
  height: 100%;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-size: cover; /* 이미지 꽉 채우기 */
  background-position: center;
  position: relative;
  cursor: none; /* 기본 커서 제거 */
  overflow: hidden;
}

.mosaic-overlay {
  position: absolute;
  width: 120px;
  height: 120px;
  pointer-events: none;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  clip-path: circle(55% at center);
  mix-blend-mode: multiply;
  transform: translate(-50%, -50%);
  z-index: 10;
}