* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background: #ffffff;
  height: 100%; /* body 높이를 전체 화면으로 설정 */
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1; /* 앱 전체가 남은 공간을 차지하게 설정 */
}


.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  color: black;
}

.work-section {
  flex: 1 0 auto; /* work-section은 남은 공간을 차지하고, 최소 크기를 0으로 설정 */
  padding: 2rem;
  background: #ffffff;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.horizontal-item {
  position: relative;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal-item::before {
  content: '';
  position: absolute;
  inset: 0;
  backdrop-filter: blur(50px);
  background: rgba(255, 255, 255, 0.1);
  z-index: 0;
}

.overlay-text {
  position: relative;
  color: black;
  font-size: 2rem;
}

.footer {
  flex: 0 0 auto; /* 푸터는 고정 크기 */
  text-align: center;
  padding: 2rem;
  background: #ffffff;
  color: #000000;
}
