html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* 이걸로만 스크롤 관리 */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container.work-min-height {
  min-height: 200vh;
  max-height: 1000vh;
}

.routes-wrapper {
  flex: 1;
}
