/* Footer.css */

.footer {
  text-align: center;
  color: #000;
  font-size:0.9rem;
  width: 100%;
  margin-top: auto; 
  padding: 1rem 0;
  background: #ffffff; 
  flex-shrink: 0; 
}

/* 미디어 쿼리: 화면 너비가 768px 이하일 때 (모바일) */
@media (max-width: 768px) {
  .footer {
    font-size: 0.7rem; 
    margin-top: 0; 
    font-family:"Helvetica Neue", sans-serif;
  }
}